
*{
	margin: 0px;
	padding: 0px;
}
header, footer, section, nav{display: block}
body{
/*	
	background: url(https://lh6.googleusercontent.com/-7d_hJwhlVjo/URlHHFtgcAI/AAAAAAAAHPM/QONIqVJU30c/s70/NewBG.png);

background-image: url(/img/index.jpeg) repeat: none;
*/
font-family: 'Lato',sans-serif;
font-size: 14px;
color: #333;
line-height: 1.4;

}
.container{
	margin: 0 auto; 
	width: 950px;
	font-family: arial;
	margin-top: 20px;
}
h1, h2{
	color: #333;
	font-family: Helvetica, Arial;
	font-weight: bold;
	line-height: 1.1em;
	padding-bottom: 5px;
	font-size: 28px;
	text-shadow: 0 1px 0 #fff;
}
h2 a{
	color: #333;
	text-decoration: none;
}
h2 a:hover{
	color: #333;
	text-decoration: none;
	background-color: #81c3de;
	}
.nav-top{
	position: absolute;
	height: 50px;
	top: 0;
	left: 200px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#nav{
	overflow: auto;
	background-color: #333333;
}
#nav ul{
	list-style: none;
	height: 40px;
	padding:0px;
	margin: 0px;
}	
#nav ul li{
	float: right;
	font-size: 15px;
	font-weight: bold;
}
#nav ul li a{
	color:#ffffff;
	text-decoration: none;
	display: block;
	padding:12px;
	text-align: center;
	min-width: 100px;
}
#nav ul li a:hover{
	background-color: #81c3de;
	color:#333333;
}
#footer{
	border-top: 3px solid #333333;
}
.footer-col-wrapper ul li{ 
	list-style-type: none;
}

.footer-bot p{
	border-top: 2px solid #333333;
	padding: 20px 0px;
	font-size: 14px;
	text-align: center;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.glyphicon-icon{
	font-size: 2.0em;

}
/*body*/

.content{
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
}
section{
	padding: 30px 0px;
}
.content section #benifit{
	margin-top: 50px;
	text-align: center;
}
.wrap-img i{
	text-align: center;
}
.filled-circle{
	height: 100px;
	width: 100px;
	line-height: 100px;
	font-size: 58px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	background: none repeat scroll 0% 0% #f26c4f;
}
.box-text{
	padding-top: 30px;
}
.box-text h3 a{
	color: #f26c4f;
}

section #services{
	padding-top: 30px;
}
#services h1{
	padding-bottom: 50px;
}
#services h3 a{
	color: #f26c4f;
}
#services ul{
	padding-left: 0px;
	list-style: outside none none;
}
#services img{
	background-image: none !important;
	border: none;
}
section#showmap{
	padding-top: 50px;
	padding-bottom: 50px;
}
section#plans{
	background-color: #e9f2f9;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 50px;
}
.price-plan{
	border: 1px solid #27b599;
	border-radius: 4px;
	width: 100%;
	margin-top: 30px;
}
section#plans ul{
	list-style: none;
}
section#plans ul li.header{
	padding-top: 30px;
	color: #ffffff;
	font-size: 2em;
}
section#plans ul li.body{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	height: 100%;
}
section#plans ul li a{
	color: #f26c4f;
	font-size: 1.5em;
}
.header{
	background-color: #27b599;
	height: 100px;
}
section#lineups{
	width: 100%;
}
.img{
	padding-top: 50px;
	padding-left: 60px;
}