<footer class='container' id='footer'>
    <div class="container">
    	<div class="row">
    		<div class="footer-col col-md-4">
	    		<ul>
		    		<li>
		    			<i class="fa fa-question pull-left"></i><h3>Worldwide cheapest tracking solution</h3>
		    		</li>
		    		<li>
		    			<a href="">Home</a>
	    			</li>
	    			<li>
	    				<a href="">Products</a>
	    			</li>
	    			<li>
	    				<a href="">Devices</a>
	    			</li>
	    			<li>
	    				<a href="">Contacts</a>
	    			</li>
	    		</ul>
    		</div>
    		<div class="footer-col col-md-4">
	    		<ul>
	    			<li><h3>About us</h3></li>
	    			<li>
	    				Website: <a href="">GPSHandle.com</a>
	    			</li>
	    			<li>
	    				Email: <a href="">hothucdongdhbk@gmail.com</a>
	    			</li>
	    		</ul>
    		</div>

    		<div class="footer-col col-md-4">
    			<ul>
    				<li><h3>Follow Us</h3></li>
    			</ul>
    		</div>
    	</div>
    </div>
		
    <div class="footer-bot">
    	<p>
    		© 2014 Umaps Technology. Powered by KeystoneJS.
    	</p>
    </div>
    
  </footer>